
.App {
    text-align: center;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  .pulse {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color:gray;
    background: white;
    border-radius: 50%;
    animation: radial-pulse 3s infinite;
  }
   
  .wrapper {
    width: 100%;
    height: 100vh;
    background-color: #D04746;
    display: flex;
    align-items: center;
    justify-content: center;
  }
   
  @keyframes radial-pulse {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.5);
    }
   
    100% {
      box-shadow: 0 0 0 30px rgba(0, 0, 0, 0);
    }
  }
  
  .App-logo {
    
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }
  
  .mr-auto {
    min-height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(2px + 2vmin);
    color: white;
    padding-left: 10px;
    
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .but {
    padding: 2px 8px;
    margin: 5px 5px 5px 5px;
    font-size: calc(1px + 2vmin);
  }
  
  .btn1 {
    width: 250px;
    height: 26px;
  }
  
  .inputs {
    align-items: center;
    margin: 0 auto;
  }
  .btn2
  {
    margin: 0 auto;
    max-width: 500px;
    align-items: center;
    padding: 20px;
    
  }
  .divvv
  {
    display: flex;
      flex-direction: row;
    position: center;
    margin:0 auto;
    align-items: center;
    padding: 10px;
  }
  
  .links{
    margin-right: 10px;
    color: white; 
  }
  .appbar{
    color: #5b8dc2;
  }
  
  .appbar2{
    background-color: #EEEEEE;
    color: #212121;
  
  }
  
  .taskstyle1{
    width: 200px;
    height: 200px;
  }
  
  .but3{
    color: "red";
  }
  
  .toinline{
    display: inline-block;
  }
  
  .flextry{
    width: 100%;
      display: block;
      box-sizing: border-box;
      margin-left: auto;
      margin-right: auto;
  }
  
  .flx1{
    display: flex;
    box-sizing: inherit;
    margin-top: 150px;
  }
  .flx2{
    width: 100%;
      display: block;
      box-sizing: border-box;
      margin-left: auto;
      margin-bottom: auto;
      margin-right: auto;
      margin-top: auto;
      max-width: 600px;
      padding-top: 100px;
      
  }
  .flx3{
    width: 100%;
      display: block;
      box-sizing: border-box;
      margin-left: 20px;
      margin-bottom: auto;
     
      margin-top: auto;
      max-width: 300px;
      
  }
  
  .flx4{
    justify-content: space-between;
    flex: 1;
    display: block;
    max-width: 1140px;
    
  }
  
  .regimg{
    background-color: #5b8dc2;
  }
  
  .round1{
    border-radius: 50px;
  }
  
  .justifyelts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height:50px;
    
    
    margin-top: auto;
    margin-bottom: auto;
  
  }
  
  .marg1{
    padding-top: 10px;
    
  }
  
  .greet{
    display:block;
  margin:auto;
  padding-top: 20px;
  
  }

  .flx6 {
    float: left; /*Задаем обтекание*/
    line-height: 20px;/*Высота строки +  верт. центрирования текста*/
    font-family: "Roboto";
    background: white;
    color: white;
    margin-top: 20px;
    width: 135px; /*Фиксируем ширину блока*/
    margin-right: 10px;
    text-align: center; /*Центрируем текст по горизонтали*/
   }

   .card {
    display: flex;
    
    /* min-width: 60%; */
  
    overflow-x: auto; 
    background-color: #fafafa;
    margin: 0;
    display: flex;
    justify-content: left;
    align-items: top;
    transform:scaleY(-1);
  }
  

  
  .card--content {
    background-color: #fafafa;
    min-width: 200px;
    margin: 5px;
    overflow-x: auto; 
  }